.container
  .row
    .col-md-5
      %h4 My Listings
      = render 'layouts/my_listings'
    .col-md-7
      %h4 Reservations
      #calendar

:javascript
  $(document).ready(function() {
    $("#calendar").fullCalendar();
  });