
#how-it-works.row.text-center{:style => "background-color: green;height:500px;"}
  = form_for @listing, :url => listings_create_path, :html => {:id => "newlisting_form"} do |f|
    .col-md-12
      .col-md-9
        .col-md-12.icon-cont
          %i.fa.fa-plus.fa-5x New Listing
          = f.text_field :name, :class => "form-control", :placeholder => "Name"
          = f.text_field :description, :id => "summernote", :class => "form-control", :placeholder => "Description"
          = f.submit "Add", :class => "btn btn-primary"
      .col-md-3
        .col-md-12.icon-cont
          %i.fa.fa-usd.fa-5x Rates


:javascript
  $(document).ready(function(event) {
    $("#summernote").summernote({
    
      height:300
    
    });
  });