.row
  .col-md-12
    #listing-slideshow.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        - if @listing.pictures
          - @listing.pictures.each_with_index do |pic, index|
            - if index == 0
              %li.active{"data-slide-to" => "0", "data-target" => "#listing-slideshow"}
                = pic.image.url(:original)
            - else
              %li{"data-slide-to" => "1", "data-target" => "#listing-slideshow"}
              %li{"data-slide-to" => "2", "data-target" => "#listing-slideshow"}
      / Wrapper for slides
      .carousel-inner{:role => "listbox"}
        .item.active
          %img{:alt => "...", :src => "..."}
            .carousel-caption
              \...
        .item
          %img{:alt => "...", :src => "..."}
            .carousel-caption
              \...
        \...
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#listing-slideshow", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#listing-slideshow", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next