.container
  .row
    .col-md-8
      .row
        .col-md-12.header-title
          %h2
            SpaceLender
            %br
            %small
              Find space for the things you need to do.
        .col-md-12
          = form_tag(users_search_path) do
            = text_field_tag :search, nil, :class => "form-control", :placeholder => "Search for spaces."
  