.container
  .jumbotron
    %h1
      Ready to make some <em>moolah</em>?
      %br
      %small
        Before you do, we're going to need a place to put it.
  .col-md-12
    %p
      %h5
        Please click the button below to begin setting up your Stripe account. 
      If you already have one, then great! All you will have to do is click the button and sign in.
    %p
      %strong
        What is Stripe?
      %br
      Stripe is our secure, reliable payment gateway of choice that allows you to send and receive payments. Without a Stripe account we won't be able to figure out where to put your money after you get paid.
    %p
      %strong
        If you do not have a Stripe account...
      %br
      Setting one up is quick and easy. It should only take you a few minutes before you're on your way to posting your listings and reaping your monetary rewards. Just click the button below to get started!
  .col-md-3
  %br
  %br
.row.footer-margin
= render 'layouts/footer'

