<!DOCTYPE html>
<html>
	<head>
		<title>Confirm and Activate Your Account</title>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
		<style>
			@font-face {
				font-family: 'Oxygen', sans-serif;
				src: url('Oxygen/Oxygen-Regular.ttf');
			}

			@font-face {
				font-family: 'Handlee', sans-serif;
				src: url('Handlee/Handlee-Regular.ttf')
			}

			body {
				font-family: 'Oxygen', sans-serif;
				line-height: 1.7;
				color: #444;
			}

			.container {
				background-color: #FEFEFE;
			}

			.im {
				color: #444 !important;
			}

			a {
				color: #049372;
			}

			a:hover {
				text-decoration: none;
				font-weight: bold;
				color: #006442;
			}

			.btn:focus,
			a:focus {
				box-shadow: none;
				outline: none;
				color: #666;
				text-decoration: none;
			}

			.panel {
				background: #FEFEFE;
				border: 1px solid #DDD;
			}

			.panel-body {
				padding: 15px;
			}
			
			.logo {
				font-family: 'Handlee', sans-serif;
			}
		</style>
	</head>
	<body>
		<p>Hi <%= @user.first_name %>,</p>

		<p>
			Uh-oh! Sorry, looks like we got some bad news. The lender for your reservation for <%= @reservation.listing.name, listing_url(reservation.listing) %> was rejected.
		</p>

		<h4>SpaceLender Team</h4>
	</body>
</html>