// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #002533;
$secondary-color: #006A93;

#address,
#rates,
#upload-pictures {
	margin-top: 20px;
}

#rates,
#address {
	//background: $primary-color;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		//color: #EEE !important;
		margin-bottom: 15px !important;
	}

	input[type="text"],
	input[type="password"],
	textarea {
		//color: #EEE !important;
	}

	select {
		//opacity: 0.9;
	}

	::-webkit-input-placeholder { color: $primary-color !important; }
	::-moz-placeholder  { color: $primary-color !important; } /* firefox 19+ */
	:-ms-input-placeholder  { color: $primary-color !important; } /* ie */
	:-moz-placeholder  { color: $primary-color !important; }
}

.add-subtract-rate-forms {
	float: right;
}

#add-rate-form:hover,
#subtract-rate-form:hover {
	cursor: pointer;
}

#add-rate-form:focus,
#subtract-rate-form:focus {
	color: #CCC !important;
}

#show-listing {
	padding-top: 20px !important;
	padding-bottom: 20px !important;

	.panel {
		margin-bottom: 0px !important; 
	}
}

.no-overflow {
	overflow: hidden !important;
}

#info-side {
	position: absolute;
	margin-left: 50% !important;
	overflow: auto !important;
}

#picture-side {
	background-color: $secondary-color !important;
	position: absolute;
	height: 100%;
	padding-top: 23px;
	overflow: auto !important;
}

.show-pictures {
	height: 200px !important;
	width: 100% !important;
	position: relative;
}

.show-picture-container {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.show-listing-rate {
	color: #777 !important;
}
