// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// $primary-color: #002533;
// $secondary-color: #004B66;

$primary-color: #334466;
$secondary-color: #999999;
$third-color: #ffcc88;
$fourth-color: #eeeecc;
$fifth-color: #FAFAFA;

.col-no-pad {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#address,
#rates,
#upload-pictures {
	margin-top: 20px;
}

#rates,
#address {
	//background: $primary-color;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		//color: #EEE !important;
		margin-bottom: 15px !important;
	}

	input[type="text"],
	input[type="password"],
	textarea {
		//color: #EEE !important;
	}

	select {
		//opacity: 0.9;
	}

	::-webkit-input-placeholder { color: $primary-color !important; }
	::-moz-placeholder  { color: $primary-color !important; } /* firefox 19+ */
	:-ms-input-placeholder  { color: $primary-color !important; } /* ie */
	:-moz-placeholder  { color: $primary-color !important; }
}

.add-subtract-rate-forms {
	float: right;
}

#add-rate-form:hover,
#subtract-rate-form:hover {
	cursor: pointer;
}

#add-rate-form:focus,
#subtract-rate-form:focus {
	color: #CCC !important;
}

.features-list li {
	animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: 1;

	-webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;

    padding: 15px;

    a {
    	font-size: 1em !important;
    	color: $primary-color !important;
    }
}

#list-a-space {
	background: #FFF !important;
}

.tab-link.active {
	font-weight: bold;
	color: $third-color !important;
	font-size: 18px !important;
	text-decoration: none !important;
}

.inner-tab-link.active {
	font-weight: bold;
	color: $third-color !important;
}

.inner-tab-link:hover {
	cursor: pointer;
}

.tab,
.inner-tab {
	display: none;
}

.tab.active,
.inner-tab.active {
	display: block;
}

.tab-display {
	min-height: 400px;
	background: #FFF !important;
}

.tab > .panel {
	position: relative;
	min-height: 400px;
}

.tab > .panel:after {
	content: ' ';
	height: 0px;
	width: 0px;
	position: absolute;
	border: 20px solid transparent;
	border-right-color: $primary-color;
	right: 100%;
}

#list-space > .panel:after {
	top: 25px;
}

#listings > .panel:after {
	top: 80px;
}

#reservations > .panel:after {
	top: 130px;
}

#payments > .panel:after {
	top: 175px;
}

#reviews > .panel:after {
	top: 235px;
}

.carousel img {
	max-width: none;
}

#listing-slideshow {
	height: 400px;
	max-height: 400px;

	.carousel-inner,
	.item {
		height: 100%;
	}

	img {
		height: 100%;
		width: 100%;
	}
}

#listing-details {
	background: url('swirl_pattern.png');
	padding-top: 30px;
}

#listing-description {
	background-color: #F2F2F2;
}

.next-prev-btns {
	display: none;
}

.next-prev-btns.active {
	display: block;
}

.datepicker-days {
	.day {
		color: $primary-color !important;
		border-radius: 0px;
		border: 1px solid #CCC;
	}

	.disabled.day,
	.new.day {
		color: #999 !important;
	}

	.active.day {
		color: #EEE !important;
		background-color: $primary-color !important;
	}
}

.dropzone {
	padding: 0px !important;
}

.dropzone-area {
	min-height: 280px !important;
	border: 1px dashed #CCC !important;
	margin-top: -30px;
}

.dropzone-area:hover {
	cursor: pointer;
}

.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
	background-image: -webkit-linear-gradient(top, #fafafa, #eee);
	background-image: linear-gradient(to bottom, #fafafa, #eee);
	/*border-radius: 2px;*/
	/*border: 1px solid #eee;*/
	text-decoration: none;
	display: block;
	/*padding: 4px 5px;*/
	text-align: center;
	/*color: #aaa;*/
	margin-top: 26px;

  	background: transparent !important;
	border: 1px solid $primary-color !important;
	box-shadow: none !important;
	color: $primary-color !important;
	border-radius: 0px !important;
}

#google-map {
  width: 100%;
}

#map {
  width: 100%; 
  height: 400px;
}

#map.search-results-map {
  width: 100%; 
  height: 100%;
  position: relative !important;
}

.left-column,
#map-outer-container {
	padding-right: 0px !important;
}

.right-column,
#map-outer-container {
	padding-left: 0px !important;
}

#search-results-container {
	background: url('swirl_pattern.png');
	padding-top: 23px;
}

#search-results-container,
.right-column,
#google-map,
#map-outer-container,
#map {
	height: 100% !important;
}

.search-result-container {
	min-height: 210px;
}

.search-result-carousel .item{
  margin: 3px;
}
.search-result-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}


