// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #334466;
$secondary-color: #999999;
$third-color: #ffcc88;
$fourth-color: #eeeecc;
$fifth-color: #FAFAFA;

// $primary-color: #554422;
// $secondary-color: #ffdd66;
// $third-color: #66bbee;
// $fourth-color: #99bbee;
// $fifth-color: #ddbb99;

body {
	background-color: $fifth-color !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $primary-color !important;
}

input[type="text"],
input[type="password"],
select,
textarea {
	margin-bottom: 15px;
}

.panel.panel-default {
	border: 1px solid $primary-color !important;
}


// Buttons
a.btn-primary,
.btn-primary {
	background: $primary-color !important;
	border: 1px solid #EEE;
	box-shadow: none !important;
	color: $fifth-color !important;
	border-radius: 0px !important;
}

a.btn-default,
.btn-default {
	background: transparent !important;
	border: 1px solid $primary-color !important;
	box-shadow: none !important;
	color: $primary-color !important;
	border-radius: 0px !important;
}

a.primary-color {
	color: $primary-color !important;
}


// Summernote Buttons
.note-editor {
	.btn.btn-default {
		border: none !important;
	}
}


.header-title {
	margin-bottom: 20px;

	h2 {
		color: #EEE !important;
	}
}

#has-images i.active {
	display: inline;
}

#has-images i {
	display: none;
}

.navbar {
	background-color: $fifth-color !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	border-bottom: 1px solid $primary-color !important;

	input[type="text"],
	input[type="password"],
	select,
	textarea {
		margin-bottom: 0px;
	}

	.navbar-brand {
		color: $primary-color !important;
	}

	a {
		color: $primary-color !important;
	}

	a.btn-primary {
		color: $fifth-color !important;
		font-weight: bold !important;
	}

	#nav-search-bar {
		width: 260px;
		box-shadow: inset 0 -1px 0 $secondary-color;
		color: $primary-color !important;
	}

	#nav-search-bar-btn {
		float: right;
		margin-right: 16px;
		margin-top: 1px;
		border-bottom-right-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
		border: none !important;
		border-bottom: 1px solid #EEE;
		background: transparent;
		box-shadow: none !important;
		color: $primary-color !important;
	}

	#nav-search-bar-btn:hover {
		background: #FFF !important;
		color: rgba(0, 0, 0, 0.7) !important;
	}

	#nav-search-bar::-webkit-input-placeholder { color: $fifth-color !important; }
	#nav-search-bar::-moz-placeholder  { color: $fifth-color !important; } /* firefox 19+ */
	#nav-search-bar:-ms-input-placeholder  { color: $fifth-color !important; } /* ie */
	#nav-search-bar:-moz-placeholder  { color: $fifth-color !important; }

	.navbar-nav {
		li.active {
			background: transparent !important;

			a {
				color: #86AC63 !important;
			}
		}
	}

	#list-space-nav-btn {
		color: $primary-color !important;
	}

	.dropdown-menu {
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
	}

	.dropdown.open > a {
		text-decoration: underline;
	}

	.dropdown.open {
		.dropdown-menu {
			li a {
				color: $primary-color !important;
			}

			li:hover a {
				color: #5A96CA !important;
			}
		}
	} 
}

.navbar-homepage {
	background: transparent !important;
	box-shadow: none !important;
	border-bottom: none !important;

	a {
		color: #FFF !important;
	}

	#list-space-nav-btn {
		border: none !important;
		background: transparent !important;
	}

	.navbar-nav {
		li.active {
			a {
				color: #86AC63 !important;
			}
		}
	}

	#list-space-nav-btn {
		color: #EEE !important;
	}

	.dropdown-menu,
	.dropdown.open > a {
		background: transparent !important;
	}

	.dropdown-menu {
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
	}

	.dropdown.open > a {
		text-decoration: underline;
	}

	.dropdown.open {
		.dropdown-menu {
			li a {
				color: #EEE !important;
			}

			li:hover a {
				color: #5A96CA !important;
			}
		}
	} 
}

.title-search {
	margin-bottom: 50px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	height: 640px;
	background-size: 100% !important;
	width: 100%;
	margin-top: -87px;
	padding-top: 128px;
	padding-left: 30px;
	padding-right: 30px;

	small,
	input {
		color: #EEE !important;
	}
}

.title-search-homepage {
	margin-top: -87px;
	padding-top: 64px;
}

br {
	margin: 20px 0px;
}

.search-input-group {
	margin-left: -16px;
}

#search {
	margin-left: -32px;
}

#search-icon-addon {
	color: #EEE !important;
}

#search::-webkit-input-placeholder { color: #EEE !important; }
#search::-moz-placeholder  { color: #EEE !important; } /* firefox 19+ */
#search:-ms-input-placeholder  { color: #EEE !important; } /* ie */
#search:-moz-placeholder  { color: #EEE !important; }

#city {
	margin-left: -32px;
}

#city::-webkit-input-placeholder { color: #EEE !important; }
#city::-moz-placeholder  { color: #EEE !important; } /* firefox 19+ */
#city:-ms-input-placeholder  { color: #EEE !important; } /* ie */
#city:-moz-placeholder  { color: #EEE !important; }

.search-btns,
a.search-btns {
	float: right;
	margin-top: 15px;
	margin-right: 16px;
	border: 1px solid #EEE !important;
	background: transparent;
	box-shadow: none !important;
	color: #EEE !important;
}

.search-btns:hover {
	background: #FFF !important;
	color: rgba(0, 0, 0, 0.7) !important;
}

#registration,
#how-it-works,
#footer {
	padding: 30px;
}

#login {
	padding: 100px;
}

#registration {
	h1,
	h2,
	h3 {
		color: #EEE !important;
	}

	p {
		color: #EEE !important;
	}

	button {
		border: 1px solid #EEE;
		background: transparent;
		box-shadow: none !important;
		color: #EEE !important;
	}

	button:hover {
		background: #FFF !important;
		color: rgba(0, 0, 0, 0.7) !important;
	}
}

#registration_form {
	padding-right: 20px;

	input[type="text"],
	input[type="password"],
	select,
	textarea {
		color: #EEE !important;
	}

	::-webkit-input-placeholder { color: #EEE !important; }
	::-moz-placeholder  { color: #EEE !important; } /* firefox 19+ */
	:-ms-input-placeholder  { color: #EEE !important; } /* ie */
	:-moz-placeholder  { color: #EEE !important; }
}

.icon-cont {
	height: 80px;
	color: $primary-color !important;
}

#login_form {
	padding-top: 30px;
}

.primary-background {
	background-color: $primary-color;

	h1,
	h2,
	h3 {
		color: #EEE !important;
	}

	p {
		color: #EEE !important;
	}

	button {
		border: 1px solid #EEE;
		background: transparent;
		box-shadow: none !important;
		color: #EEE !important;
	}

	button:hover {
		background: #FFF !important;
		color: rgba(0, 0, 0, 0.7) !important;
	}
}

#tab-display {
	margin-bottom: 100px;

	.tab {
		display: none;
	}

	.tab.active {
		display: block;
	}
}

.tab-list {
	li {
		a {
			font-size: 18px !important;
			color: $secondary-color !important;
		}

		a:hover {
			text-decoration: none;
			color: #777777 !important;
		}

		a:focus {
			text-decoration: none;
		}
	}
}

.feature-list-item {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 2s;
}

.list-group {

	border: none !important;

	.list-group-item:first-child {
		border-top-left-radius: 0px !important;
		border-top-right-radius: 0px !important;
	}

	.list-group-item:last-child {
		border-bottom-right-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
	}
}

#new_reservation .form-control {
	width: auto !important;
	display: inline;
}

#listings-panel {
	background: url('swirl_pattern.png') !important;
	padding-top: 23px;
}


#footer {
	background-color: $primary-color !important;
	min-height: 320px;
	height: 3em;
	bottom: 0;
	border-top: 1px solid $primary-color !important;
	// margin-top: 320px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #EEE !important;
	}
	color: #EEE !important;
}





