// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	input[type="text"],
	input[type="password"],
	select,
	textarea {
		margin-bottom: 15px;
	}
}

.header-title {
	margin-bottom: 20px;

	h2 {
		color: #EEE !important;
	}
}

.navbar-homepage {
	background: transparent !important;
	box-shadow: none !important;

	a {
		color: #FFF !important;
	}

	.navbar-nav {
		li.active {
			a {
				color: #86AC63 !important;
			}
		}
	}

	.dropdown-menu,
	.dropdown.open > a {
		background: transparent !important;
	}

	.dropdown-menu {
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
	}

	.dropdown.open > a {
		text-decoration: underline;
	}

	.dropdown.open {
		.dropdown-menu {
			li:hover a {
				color: #5A96CA !important;
			}
		}
	} 
}

.title-search {
	margin-bottom: 50px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	height: 380px;
	background-size: 100%;
	width: 100%;
	margin-top: -87px;
	padding-top: 64px;
	padding-left: 30px;
	padding-right: 30px;

	small,
	input {
		color: #EEE !important;
	}
}

.title-search-homepage {
	margin-top: -87px;
	padding-top: 64px;
}

br {
	margin: 20px 0px;
}

.search-input-group {
	margin-left: -16px;
}

#search {
	margin-left: -32px;
}

#search-icon-addon {
	color: #EEE !important;
}

#search::-webkit-input-placeholder { color: #EEE !important; }
#search::-moz-placeholder  { color: #EEE !important; } /* firefox 19+ */
#search:-ms-input-placeholder  { color: #EEE !important; } /* ie */
#search:-moz-placeholder  { color: #EEE !important; }

#search-btns {
	margin-top: 15px;

	button {
		float: right;
		margin-right: 16px;
		border: 1px solid #EEE;
		background: transparent;
		box-shadow: none !important;
		color: #EEE !important;
	}

	button:hover {
		background: #FFF !important;
		color: rgba(0, 0, 0, 0.7) !important;
	}
}

