// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #0092C7;
$secondary-color: #006A93;

body {
	background-color: #f5f5f5 !important;
}

input[type="text"],
input[type="password"],
select,
textarea {
	margin-bottom: 15px;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
	color: $secondary-color !important;
}

.panel {
	border-radius: 0px !important;
}


// Buttons
.btn-primary {
	background: $primary-color !important;
	border: 1px solid #EEE;
	box-shadow: none !important;
	color: #EEE !important;
}

.btn-default {
	background: transparent !important;
	border: 1px solid $secondary-color !important;
	box-shadow: none !important;
	color: $secondary-color !important;
}


.header-title {
	margin-bottom: 20px;

	h2 {
		color: #EEE !important;
	}
}

#has-images i.active {
	display: inline;
}

#has-images i {
	display: none;
}

.navbar {
	background-color: transparent !important;
	border-radius: 0px !important;
	box-shadow: 0px 1px 3px #006A93 !important;

	input[type="text"],
	input[type="password"],
	select,
	textarea {
		margin-bottom: 0px;
	}

	a {
		color: $primary-color !important;
	}

	#nav-search-bar {
		width: 400px;
		border-bottom: 1px solid $primary-color !important;
	}

	#nav-search-bar-btn {
		float: right;
		margin-right: 16px;
		margin-top: 1px;
		border-bottom-right-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
		border: none;
		border-bottom: 1px solid #EEE;
		background: transparent;
		box-shadow: none !important;
		color: $primary-color !important;
	}

	#nav-search-bar-btn:hover {
		background: #FFF !important;
		color: rgba(0, 0, 0, 0.7) !important;
	}

	.navbar-nav {
		li.active {
			background: transparent !important;

			a {
				color: #86AC63 !important;
			}
		}
	}



	.dropdown-menu {
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
	}

	.dropdown.open > a {
		text-decoration: underline;
	}

	.dropdown.open {
		.dropdown-menu {
			li a {
				color: $primary-color !important;
			}

			li:hover a {
				color: #5A96CA !important;
			}
		}
	} 
}

.navbar-homepage {
	background: transparent !important;
	box-shadow: none !important;

	a {
		color: #FFF !important;
	}

	.navbar-nav {
		li.active {
			a {
				color: #86AC63 !important;
			}
		}
	}

	.dropdown-menu,
	.dropdown.open > a {
		background: transparent !important;
	}

	.dropdown-menu {
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
	}

	.dropdown.open > a {
		text-decoration: underline;
	}

	.dropdown.open {
		.dropdown-menu {
			li a {
				color: #EEE !important;
			}

			li:hover a {
				color: #5A96CA !important;
			}
		}
	} 
}

.title-search {
	margin-bottom: 50px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	height: 380px;
	background-size: 100%;
	width: 100%;
	margin-top: -87px;
	padding-top: 64px;
	padding-left: 30px;
	padding-right: 30px;

	small,
	input {
		color: #EEE !important;
	}
}

.title-search-homepage {
	margin-top: -87px;
	padding-top: 64px;
}

br {
	margin: 20px 0px;
}

.search-input-group {
	margin-left: -16px;
}

#search {
	margin-left: -32px;
}

#search-icon-addon {
	color: #EEE !important;
}

#search::-webkit-input-placeholder { color: #EEE !important; }
#search::-moz-placeholder  { color: #EEE !important; } /* firefox 19+ */
#search:-ms-input-placeholder  { color: #EEE !important; } /* ie */
#search:-moz-placeholder  { color: #EEE !important; }

#search-btns {
	margin-top: 15px;

	button, a {
		float: right;
		margin-right: 16px;
		border: 1px solid #EEE;
		background: transparent;
		box-shadow: none !important;
		color: #EEE !important;
	}

	button:hover {
		background: #FFF !important;
		color: rgba(0, 0, 0, 0.7) !important;
	}
}

#registration,
#how-it-works,
#footer {
	padding: 30px;
}

#login {
	padding: 100px;
}

#registration {
	h1,
	h2,
	h3 {
		color: #EEE !important;
	}

	p {
		color: #EEE !important;
	}

	button {
		border: 1px solid #EEE;
		background: transparent;
		box-shadow: none !important;
		color: #EEE !important;
	}

	button:hover {
		background: #FFF !important;
		color: rgba(0, 0, 0, 0.7) !important;
	}
}

#registration_form {
	padding-right: 20px;

	input[type="text"],
	input[type="password"],
	select,
	textarea {
		color: #EEE !important;
	}

	::-webkit-input-placeholder { color: #EEE !important; }
	::-moz-placeholder  { color: #EEE !important; } /* firefox 19+ */
	:-ms-input-placeholder  { color: #EEE !important; } /* ie */
	:-moz-placeholder  { color: #EEE !important; }
}

.icon-cont {
	height: 80px;
	color: $primary-color !important;
}

#login_form {
	padding-top: 30px;
}

#footer {
	background-color: $primary-color;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #EEE !important;
	}
	color: #EEE !important;
}





