#footer.col-md-12.padded
  .col-md-4.padded
    2015 &copy; SpaceLender - All Rights Reserved
  .col-md-4.padded.col-md-offset-4.text-right
    Need help? Contact us at 
    = link_to "support@spacelender.com"