/ User Sign Up Form
= form_tag(sessions_create_path, :id => "login_form")do
  = text_field_tag :email, nil, :class => "form-control", :placeholder => "Username"
  = password_field_tag :password, nil, :class => "form-control", :placeholder => "Password"