.panel.panel-default
  .panel-body
    .row
      .col-md-4
        .panel.panel-default
          .panel-body
            %p.lead.text-center
              2
            %p.text-center
              %strong
                Reservations
              %small
                need confirmation
      .col-md-4
        .panel.panel-default
          .panel-body
            %p.lead.text-center
              2
            %p.text-center
              New Messages
      .col-md-4
        .panel.panel-default
          .panel-body
            %p.lead.text-center
              $3,647
            %p.text-center
              Total Revenue
